{% extends 'main.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

        <img src="{% static 'img/porfolio4.jpg' %}" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
            <div class="col-lg-10">
              <h2 data-aos="fade-up" data-aos-delay="100">Our Services</h2>
              <p data-aos="fade-up" data-aos-delay="200">Navigate Through Our Services and Contact Us for Good Service Delivery</p>
            </div>
      </div>

    </section><!-- End Hero Section -->

    <!-- Services Section - Home Page -->
    <section id="services" class="services">

        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Object Do offers a comprehensive range of services designed to meet the diverse needs of our clients and communities. Our multidisciplinary approach ensures that we can deliver exceptional quality across various scales and types of projects. Here's an overview of the services we provide:</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"></i></div>
                <div>
                  <h4 class="title"><a href="{% url 'service-details1' %}" class="stretched-link">Architectural Design</a></h4>
                  <p class="description">Concept Development: Crafting innovative design concepts that reflect the client's vision and the project's context.
                    Schematic Design: Developing detailed schematics that combine aesthetics with functionality.
                    Design Development: Refining design details to ensure technical feasibility and alignment with project goals.
                    </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"></div>
                <div>
                  <h4 class="title"><a href="{% url 'service-details2' %}" class="stretched-link">Sustainable Design and Consulting</a></h4>
                  <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"></div>
                <div>
                  <h4 class="title"><a href="{% url 'service-details3' %}" class="stretched-link">Sed ut perspiciatis</a></h4>
                  <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"></div>
                <div>
                  <h4 class="title"><a href="{% url 'service-details4' %}" class="stretched-link">Magni Dolores</a></h4>
                  <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
              </div>
            </div><!-- End Service Item -->
          </div>
  
        </div>
  
      </section><!-- End Services Section -->

  </main>
  {% endblock content %}